DATABASE_URI=postgresql+asyncpg_uri
TEST_DATABASE_URI=postgresql+asyncpg://postgres:postgres@localhost:5432/fast_api_template_test
SECRET_KEY="your_secret_key_here"
ALGORITHM="ALGO"
ACCESS_TOKEN_EXPIRE_MINUTES=123
PROJECT_NAME="abc"
